@page
@model MilkStore.Pages.ProductManager.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    .header {
        background-color: #f4c1c1;
        padding: 20px 0;
        text-align: center;
    }

        .header h1 {
            color: #ffffff;
        }

    .nav-links {
        list-style: none;
        padding: 0;
        margin: 10px 0 0;
        display: flex;
        justify-content: center;
    }

        .nav-links li {
            margin: 0 15px;
        }

        .nav-links a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 500;
        }

</style>

<header class="header">
    <div class="container">
        <h1>Baby Store</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/Orders/GetOrdersStaff">Order</a></li>
                <li><a href="/ProductManager">Products</a></li>
                <li><a href="/About">About Us</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UrlImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                    <img src="/uploads/@item.UrlImage" alt="Product Image" style="width: auto; height: 100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
