@page
@using BusinessObjects;
@model MilkStore.Pages.Orders.GetOrdersModel
@{
    ViewData["Title"] = "Order Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/getOrder.css" asp-append-version="true" type="text/css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Baby Store</h1>
            <nav>
                <ul class="nav-links">
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="/Products">Products</a></li>
                    <li><a asp-page="/About">About Us</a></li>
                    <li><a asp-page="/Contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="intro-section">
                <p>View Order Details</p>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <!-- Order Details -->
            @foreach (var order in Model.ListOrder)
            {
                <div class="row mb-5">
                    <div class="col-md-6">
                        <h2 class="product-header">Shipping Information</h2>
                        <div class="mb-3">
                            <p class="form-label">Order Date: @order.CreatedDate</p>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Order Status: @order.Status</p>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Full Name: @order.OrderContact.CustomerName </p>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Phone Number:  @order.OrderContact.Phone</p>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Address:  @order.Address</p>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Shipping Method: @order.Type </p>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Payment Method: @order.PaymentMethod </p>
                        </div>
                    </div>

                    <!-- Ordered Products -->
                    <div class="col-md-6">
                        <h2 class="product-order">Ordered Products</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-start">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in order.OrderDetails)
                                {
                                    <tr>
                                        <td>
                                            <div class="product-info">
                                                <img src="/uploads/@item.Product.UrlImage" alt="Product Image" class="product-image">
                                                <span class="product-name">@item.Product.ProductName</span>
                                            </div>
                                        </td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Product.Discount.ToString("C")</td>
                                        <td>@item.TotalPrice.ToString("C")</td>
                                        <td>
                                            @if (order.Status.Equals(OrderStatus.Succeeded))
                                            {
                                                <button type="button" class="btn btn-primary" onclick="openModal(@item.ProductId,@item.OrderId)">Leave a Review</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-end mt-3">
                            <h4 class="header-text">Total: @order.GrandTotal.ToString("C")</h4>
                        </div>
                        @if (order.Status.Equals(OrderStatus.Pending))
                        {
                            <div class="text-start mt-3">
                                <form method="post" asp-page-handler="OrderCancel">
                                    <input type="hidden" name="orderId" value="@order.OrderId" />
                                    <button type="submit" class="btn btn-danger">Cancel Order</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
                <hr class="order-divider" />
            }
        </div>
    </main>

    <div id="feedbackModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Leave a Review</h2>
            <form method="post" asp-page-handler="SubmitFeedback">
                <input type="hidden" id="modal-product-id" name="productId" value="" />
                <input type="hidden" id="modal-order-id" name="orderId" value="" />
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating:</label>
                    <select id="rating" asp-for="ProductFeedback.Point" class="form-control" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment:</label>
                    <textarea id="comment" asp-for="ProductFeedback.Comment" class="form-control" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <script>
            function openModal(productId, orderId) {
                document.getElementById('modal-product-id').value = productId;
                document.getElementById('modal-order-id').value = orderId;
                document.getElementById('feedbackModal').style.display = 'block';
            }

            function closeModal() {
                document.getElementById('feedbackModal').style.display = 'none';
            }

            window.onclick = function (event) {
                if (event.target == document.getElementById('feedbackModal')) {
                    closeModal();
                }
            }
        </script>
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>