@page
@using BusinessObjects;
@model MilkStore.Pages.Orders.GetOrdersStaffModel
@{
    ViewData["Title"] = "Order Details for Staff";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/getOrder.css" asp-append-version="true" type="text/css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Baby Store</h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="/Orders/GetOrdersStaff">Orders</a></li>
                    <li><a href="/ProductManager">Products</a></li>
                    <li><a href="/About">About Us</a></li>
                    <li><a href="/Contact">Contact</a></li>
                    <li><a href="/PostManager">Post</a></li>
                    <li><a href="/MessageBoxManager">Chat</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="intro-section">
                <p>View Order Details</p>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <!-- Order Details -->
            @foreach (var order in Model.ListOrder)
            {
                <div class="row mb-5">
                    <div class="col-md-6">
                        <h2 class="product-header">Shipping Information</h2>
                        <div class="mb-3">
                            <p class="form-label">Order Date: @order.CreatedDate</p>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Order Status: @order.Status</p>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Full Name: @order.OrderContact.CustomerName </p>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Phone Number:  @order.OrderContact.Phone</p>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Address:  @order.Address</p>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Shipping Method: @order.Type </p>
                        </div>
                        <div class="mb-3">
                            <p class="form-label">Payment Method: @order.PaymentMethod </p>
                        </div>
                    </div>

                    <!-- Ordered Products -->
                    <div class="col-md-6">
                        <h2 class="product-order">Ordered Products</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-start">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in order.OrderDetails)
                                {
                                    <tr>
                                        <td>
                                            <div class="product-info">
                                                <img src="/uploads/@item.Product.UrlImage" alt="Product Image" class="product-image">
                                                <span class="product-name">@item.Product.ProductName</span>
                                            </div>
                                        </td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Product.Discount.ToString("C")</td>
                                        <td>@item.TotalPrice.ToString("C")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-end mt-3">
                            <h4 class="header-text">Total: @order.GrandTotal.ToString("C")</h4>
                        </div>
                        <div class="text-start mt-3">
                            <button type="button" class="btn btn-primary" onclick="openModal(@order.OrderId,'@order.OrderContact.CustomerName','@order.OrderContact.Phone','@order.Address','@order.Status')">Update</button>
                        </div>
                    </div>
                </div>
                <hr class="order-divider" />
            }
        </div>
    </main>

    <div id="feedbackModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Update Order</h2>
            <form method="post" asp-page-handler="UpdateOrder">
                <input type="hidden" id="modal-order-id" name="OrderId" value="" />
                <div class="mb-3">
                    <label for="modal-customer-name" class="form-label">Name:</label>
                    <input type="text" id="modal-customer-name" name="OrderContact.CustomerName" class="form-control" value="" />
                </div>
                <div class="mb-3">
                    <label for="modal-phone" class="form-label">Phone:</label>
                    <input type="text" id="modal-phone" name="OrderContact.Phone" class="form-control" value="" />
                </div>
                <div class="mb-3">
                    <label for="modal-address" class="form-label">Address:</label>
                    <input type="text" id="modal-address" name="Address" class="form-control" value="" />
                </div>
                <div class="mb-3">
                    <label for="modal-status" class="form-label">Status:</label>
                    <select id="modal-status" name="Status" class="form-control" required>
                        <option value="Pending">Pending</option>
                        <option value="Canceled">Canceled</option>
                        <option value="Delivering">Delivering</option>
                        <option value="Failed">Failed</option>
                        <option value="Succeeded">Succeeded</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <script>
            function openModal(orderId, customerName, phone, address, status) {
                document.getElementById('modal-order-id').value = orderId;
                document.getElementById('modal-customer-name').value = customerName;
                document.getElementById('modal-phone').value = phone;
                document.getElementById('modal-address').value = address;
                document.getElementById('modal-status').value = status;
                document.getElementById('feedbackModal').style.display = 'block';
            }

            function closeModal() {
                document.getElementById('feedbackModal').style.display = 'none';
            }

            window.onclick = function (event) {
                if (event.target == document.getElementById('feedbackModal')) {
                    closeModal();
                }
            }
        </script>
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>